<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/cores.css">
		<link rel="icon" href="imgs/favicon.png" type="img" sizes="16x16">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<title>TermoCrivo 1.0</title>
	</head>
	<body>
	<!-- Menu -->
		<div class="container-fluid bg-light">
			<div class="container">
				<div class="row navbar navbar-expand-lg navbar-light bg-light">
							<a class="col-8 mx-auto navbar-brand" href="index.html">
								<img src="imgs/termocrivologo.png" width="125px" class="d-inline-block align-top" alt="">
							</a>
							<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
								<!-- <span class="navbar-toggler-icon"></span> -->
							<!-- </button> -->
							<div class="col-4 " id="navbarNav">
								<ul class="navbar-nav">
									<!-- <li class="nav-item active"> -->
										<!-- <a class="nav-link" href="#"><img height="24" width="24" src="imgs/icons/home36.png"></a> -->
									<!-- </li> -->
									<!-- <li class="nav-item mx-auto active">
										<a class="btn btn-outline-success" href="cadastroInfoPaciente.html">Começar</a>
									</li> -->
								</ul>
							</div>
				</div>
			</div>
		</div>
		
	<!-- Capa -->
	
	<div id="carouselExampleControls" class="capa carousel slide" data-ride="carousel">
		<div class="gradienteGeral line"></div>
			<div class="carousel-inner capa" >
				<div class="carousel-item active capa">
					<img class="d-block" width="100%" src="imgs/termografiabg3.jpeg" alt="First slide">
				</div>
				<div class="carousel-item capa">
					<img class="d-block" width="100%" src="imgs/termografiabg2.jpeg" alt="Second slide">
				</div>
				<div class="carousel-item capa">
					<img class="d-block" width="100%" src="imgs/termografiabg5.jpeg" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
	</div>
	<div class="container">
		<div class="row justify-content-around text-white text-center">
			<div class="col-md-3 bg-dark destaque azul-ciano">
				<img src="imgs/icons/photo48.png" alt="">
				<h3>Escolha as imagens</h3>
				<div class=" lineDestaque azul"></div>
			</div>
			<div class="col-md-3 bg-dark destaque violeta-magenta"> <img src="imgs/icons/analise48.png" alt="">
				<h3>Use o analizador</h3>
				<div class=" lineDestaque violeta"></div>
			</div>
			<div class="col-md-3 bg-dark destaque vermelho-laranja">
				<img src="imgs/icons/pdf48.png" alt="">
				<h3>Baixe o relatório</h3>
				<div class="lineDestaque vermelho"></div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	
	
	
	

	</body>
</html>