{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
	<!-- Capa -->
		<div class="col-4 " id="navbarNav">
			<ul class="navbar-nav">
				<!-- <li class="nav-item active"> -->
					<!-- <a class="nav-link" href="#"><img height="24" width="24" src="imgs/icons/home36.png"></a> -->
				<!-- </li> -->
				<li class="nav-item mx-auto active">
					<a class="btn btn-outline-success" href="{% url 'contaCores:lista' %}">Começar</a>
				</li>
			</ul>
		</div>
			<div>
				<img class="d-block" width="100%" src="{% static 'imgs/capatermocrivo.png' %}" alt="First slide">
			</div>
	<div class="container">
		<div class="row justify-content-around text-white text-center">
			<div class="col-md-3 bg-dark destaque azul-ciano">
				<img src="{% static 'imgs/icons/photo48.png' %}" alt="">
				<h3>Escolha as imagens</h3>
				<div class=" lineDestaque azul"></div>
			</div>
			<div class="col-md-3 bg-dark destaque violeta-magenta"> <img src="{% static 'imgs/icons/analise48.png' %}" alt="">
				<h3>Use o analizador</h3>
				<div class=" lineDestaque violeta"></div>
			</div>
			<div class="col-md-3 bg-dark destaque vermelho-laranja">
				<img src="{% static 'imgs/icons/pdf48.png' %}" alt="">
				<h3>Baixe o relatório</h3>
				<div class="lineDestaque vermelho"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark">
		<div class="container time">
				<h2 class="text-center text-light">Equipe Desenvolvedora</h2>
				<div class="row justify-content-center">
						<div class=" col-md-4  mt-5">
								<div class="card ">
									<img class="card-img-top" width="150px" src="{% static 'imgs/autor01.jpg' %}" alt="01">
									<div class="card-body">
										<h3 class="card-title">Matheus Vinícius Ribeiro Araújo</h3>
										<h4 class="card-text">Desenvolvedor Back-end</h4>
										<p class="card-text">Graduando em Ciência e Tecnologia na UFRN</p>
										<a href="http://www.facebook.com/mathvra"><img src="{% static 'imgs/icons/facebook.png' %}" alt=""></a>
										<a href="https://www.github.com/mathvra/"><img src="{% static 'imgs/icons/github.png' %}" alt=""></a>
										<a href="https://www.behance.net/matheusvra/"><img src="{% static 'imgs/icons/behance.png' %}" alt=""></a>
										<a href="https://www.twitter.com/matheus_vra/"><img src="{% static 'imgs/icons/twitter.png' %}" alt=""></a>
									</div>
								</div>
							</div>
							<div class=" col-md-4 mt-5">
								<div class="card  ">
									<img class="card-img-top" width="150px" src="{% static 'imgs/autor02.jpg' %}" alt="02">
									<div class="card-body">
										<h3 class="card-title">Gésio de Moura</h3>
										<h4 class="card-text">Designer e Desenvolvedor Front-end</h4>
										<p class="card-text">Graduado em Design Gráfico e Estudante de Análise e Desenvolvimento de Sistemas no IFRN</p>
										<a href="http://www.facebook.com/srgesio"><img src="{% static 'imgs/icons/facebook.png' %}" alt=""></a>
										<a href="https://www.github.com/srgesio/"><img src="{% static 'imgs/icons/github.png' %}" alt=""></a>
										<a href="https://www.behance.net/srgesio/"><img src="{% static 'imgs/icons/behance.png' %}" alt=""></a>
										<a href="https://www.twitter.com/gesioiajm/"><img src="{% static 'imgs/icons/twitter.png' %}" alt=""></a>
									</div>
								</div>
							</div>
				</div>
		</div>
{% endblock %}