.vermelho{background-color: red !important;}
.laranja{background-color: orange!important;}
.amarelo{background-color: yellow!important;}
.verde{background-color: greenyellow!important;}
.ciano{background-color: cyan!important;}
.azul{background-color: blue!important;}
.violeta{background-color: blueviolet!important;}
.magenta{background-color: magenta!important;}
.preto{background-color: black !important;}

.gradienteGeral{
    background: linear-gradient(to right, red , orange, yellow, greenyellow, cyan, blue, blueviolet, magenta);
}

.gradienteHot{
    background: linear-gradient(to right, red , orange, yellow);
}

.gradienteWarm{
    background: linear-gradient(to right, yellow, greenyellow, cyan);
}

.gradienteCold{
    background: linear-gradient(to right, cyan, blue, blueviolet, magenta);
}

.azul-ciano{
    background: linear-gradient(to top, cyan, blue);
}

.violeta-magenta{
    background: linear-gradient(to top, magenta, blueviolet);
}
.vermelho-laranja{
    background: linear-gradient(to top, orange, red);
}