body{
    background: white;
    font-family: 'Ubuntu', sans-serif;
}

.line{
    height: 10px;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    /* bottom: 0px; */
}
.lineDestaque{
    height: 10px;
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 0;
}
.destaque{
    height: 200px;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 0;
}

.time{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.radius{
    border-radius: 40px;
}
.site-form input, .site-form textarea, .site-form label{
    display: block;
    margin: 10px 0 0 0;
    padding: 20px;
    font-weight: bolder;
}